$large-device: 1280px;
$medium-device: 960px;
$small-device: 768px;

@mixin device($size) {
  @if $size == desktopXLarge {
    @media screen and (min-width: #{$large-device}) {
      @content;
    }
  }
  @else if $size == desktopLarge {
    @media screen and (min-width: #{$medium-device}) and (max-width: #{$large-device - 1}) {
      @content;
    }
  }
  @else if $size == tablet {
    @media screen and (min-width: #{$small-device}) and (max-width: #{$medium-device - 1}) {
      @content;
    }
  }
  @else if $size == smartphone {
    @media screen and (max-width: #{$small-device}) {
      @content;
    }
  }
}