$gutter: 20;
$flex-col: 12;

// grid function
@function grid($col) {
  $width: $col / $flex-col * 100%;
  $result: calc(#{$width} - #{$gutter + px});
  @return $result;
}


@for $i from 1 through $flex-col {
  .flex-#{$i} {
      flex: 0 0 grid($i);
      margin: 0 10px;
  }
}