$module-name: 'main__title';

.#{$module-name} {
  font-family: 'Playfair Display SC';
  font-weight: normal;
  font-size: 9em;
  color: #000;
  @include device(small) {
    font-size: 3em;
  }
  &:before {
    content: '';
    display: block;
    width: 185px;
    height: 4px;
    background: currentColor;
    margin-left: 5px;
    margin-bottom: -20px;
    @include device(small) {
      width: 65px;
      height: 2px;
      margin-left: 1px;
      margin-bottom: -5px;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 255px;
    height: 4px;
    background: currentColor;
    margin-left: 215px;
    @include device(small) {
      width: 85px;
      height: 2px;
      margin-left: 70px;
    }
  }
}