$module-name: 'main__title';

.#{$module-name} {
  font-family: 'Playfair Display SC';
  font-weight: normal;
  font-size: 9em;
  color: #000;
  line-height: 1em;
  @include device(small) {
    font-size: 3em;
  }
  &:after {
    content: '';
    display: block;
    width: 255px;
    height: 4px;
    background: currentColor;
    margin: 0 auto;
    margin-top: 20px;
    @include device(small) {
      width: 85px;
      height: 2px;
      margin-top: 10px;
    }
  }
}