$className: 'anim-wrapper';

.#{$className} {
  width: 100%;
  height: 100vh;
  
  background: #000;
  color: #FFF;
  

  // alinhamento
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .anim__title-wrapper {
    .anim__title {
      font-family: Brushield;
      font-size: 8rem;
      line-height: 8rem;
      text-align: center;
      color: #FFF;
      cursor: default;
      [data-anim="names"] {
        position: relative;
        animation: textAnimation 1s forwards;
      }
      [data-anim="names"]:nth-child(1) {
        animation-delay: .3s;
      }
      [data-anim="names"]:nth-child(2) {
        animation-delay: .4s;
      }
      [data-anim="names"]:nth-child(3) {
        animation-delay: .5s;
      }
      [data-anim="names"]:nth-child(4) {
        animation-delay: .6s;
      }
    }
  }

  .anim__loading {
    .anim__circle {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 .5em;
      border-radius: 10px;
      background: #FFF;

        &.on:nth-child(1){
          position: relative;
          animation: textAnimation 1s .8s forwards; 
        }
        &.on:nth-child(2){
          position: relative;
          animation: textAnimation 1s 1s forwards; 
        }
        &.on:nth-child(3){
          position: relative;
          animation: textAnimation 1s 1.2s forwards; 
        }
        &.on:nth-child(4){
          position: relative;
          animation: textAnimation 1s 1.4s forwards; 
        }

      &:nth-child(1) {
        animation: loading .3s .3s infinite alternate;
      }
      &:nth-child(2) {
        animation: loading .3s .350s infinite alternate;
      }
      &:nth-child(3) {
        animation: loading .3s .400s infinite alternate;
      }
      &:nth-child(4) {
        animation: loading .3s .450s infinite alternate;
      }
    }
  }
}

@keyframes loading {
  from {
    transform: translate3d(0, 10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}


@keyframes textAnimation {
  from {
    top: 0;
  }
  to {
    top: -850px;
  }
}

