.loading-wrapper {
  &.on .anim__circle {
    animation: loading .3s infinite alternate;
  }
  &.off .anim__circle {
    animation: loadingOff 3s forwards;
  }
  .anim__circle {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 .5em;
    border-radius: 10px;
    background: #FFF;
    &:nth-child(1) {
      animation-delay: .3s;
    }
    &:nth-child(2) {
      animation-delay: .35s;
    }
    &:nth-child(3) {
      animation-delay: .40s;
    }
    &:nth-child(4) {
      animation-delay: .45s;
    }
  }
}

@keyframes loading {
  from {
    transform: translate3d(0, 10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes loadingOff {
  0%, 25% {
    top: 0;
  }
  50% {
    top: -350px;
  }
  75% {
    top: -150px;
  }
  100% {
    top: -850px;
  }
}